---
const date = new Date();
const year = date.getFullYear();
---

<footer class="bg-white dark:bg-teal-900 text-black dark:text-white fixed inset-x-0 bottom-0">
    <span>© {year} Luna D Dragon</span>
</footer>